{namespace Topbar}

/**
 * @param? elementClasses
 * @param site
 */
{template .render}
	<nav class="topbar topbar-light {$elementClasses ? ' ' + $elementClasses : ''}">
		{call .logo data="all" /}
	</nav>
{/template}

/**
 * @param site
 */
{template .logo}
	<div class="topbar-logo">
		<a class="topbar-logo-link" href="/">
			<span class="topbar-logo-icon icon-16-graph"></span>
			<span class="topbar-logo-text">{$site.title}</span>
		</a>
	</div>
{/template}
